@import url(style/header.css);
:root{
    --cor-de-fundo:rgb(187, 156, 140);
    --branco:white;
    --degrade:linear-gradient(rgb(155, 35, 155), rgb(78, 5, 78));
}

body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400px;   
}
.slogam{
        color: rgb(4, 4, 4);
        font-size: 20px;
        /*font-family: 'Fantasy', Arial, sans-serif;*/
        display: none;
}